* { padding: 0; margin: 0;}
html
{
    width:100%;
}
body {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow-x: hidden;
    min-width: 320px;
    position: relative;
    height: auto;

    margin-bottom: 4em;

}
.Up-header {
    text-align: justify;
    justify-content: space-between;
    padding: 10px;
    background: slategrey;
    color: #fff;
    display: flex;
    height: auto;
}
.navbar
{
    display: flex;
    padding:10px 15px;
    font-size: 15px;
    align-items: center;
    color: #fff;
    order:5;
}
li{
    display: inline-block;
    padding-left:50px;

    margin-top:40px;
}
.navbar a{
    text-decoration: none;
    color:white;
}
.logo
{
    display: flex;
    align-items: center;
}
.content
{
    background-color: black;
}
#headerwrap {

    background: url("../image/look.com.ua-260676.jpg") no-repeat center top;
    padding-top: 20px;
    text-align: center;
    position: relative;
    background-position: center center;
    min-height: 600px;
    width: 100%;
}
.LeftItnformation
{
    padding: 5px; /* Поля вокруг текста */

    background: #fff; /* Цвет фона */
    margin: 0 auto; /* Выравниваем слой по центру */
    width: 90%; /* Ширина слоя */
    opacity: 0.88;
    filter: alpha(Opacity=88);
    border-radius: 15px;
    margin-top:20px;
    position: center;
    color:black;

}
.CenterInformation
{
    padding: 5px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона */
    margin: 0 auto; /* Выравниваем слой по центру */
    width: 90%; /* Ширина слоя */
    opacity: 0.88;
    filter: alpha(Opacity=88);
    border-radius: 15px;
    margin-top:20px;
    color:black;
}
.RightInformation {
    padding: 5px; /* Поля вокруг текста */
    background:  #fff; /* Цвет фона */
    margin: 0 auto; /* Выравниваем слой по центру */
    width: 90%; /* Ширина слоя */
    opacity: 0.88;
    filter: alpha(Opacity=88);
    border-radius: 15px;
    color:black;
    margin-top:20px;
}

#sd
{
    margin-top: 50px;
    mergin:50px;
    justify-content: space-around;

}
.footer {

    left: 0;
    width: 100%;
    min-height:auto;
    background-color: slategrey;
    margin-top: 0;
    margin-bottom: 0;
    height:56px;
}
.Downlogo{
    color:white;
   text-align: center;
    margin-top:0;
    margin-bottom: 0;
}





